Witam cię {{title}}
<div *ngIf = "days.length > 2">
<ul>
  <p *ngFor="let day of days; let e = even">
  <li *ngIf="e" >
    {{day}}
  </li>
  </p>
</ul>
</div>

<div>
  {{remove}}
</div>

<div *ngIf="dogs.length > 0; then areDogs; else noDogs"></div> 

<div *ngIf = "dogs.length > 0; else noDogs">
<ng-container *ngFor="let dog of dogs">
  <p>{{dog.name}} </p>
</ng-container >
</div>

<ng-template #noDogs>
  <p> Nic </p>
</ng-template>

<button (click)="addDogs()">Dodaj </button>
<button (click)="removeDogs()">Usun </button>

<div *ngFor="let day of days">
  <div [ngSwitch] = "day" >
    <div *ngSwitchCase = " 'Pon' ">Montag</div>
    <div *ngSwitchCase = " 'Wto' ">Montagggg</div>
  </div>
</div>
<br>
<ng-container *ngIf="isVisable">
XD
</ng-container>
<button (click)="show()">ngIf</button>
<br>
<ng-container *ngIf="isHidden">
  XD2
</ng-container>
<button (click) = "hidden()">Hidden</button>